@model IEnumerable<Agenda_Telefonica.Models.Contato>

@{
    ViewData["Title"] = "ListaContatos";
}

<h2>Lista de Contatos</h2>
<hr />
<br /><br />
      <div>
          <table>
              <thead>
                  <tr>
                      <td>Nome</td>
                      <td>Apelido</td>
                      <td>Telefone Residencial</td>
                      <td>Telefone Celular</td>
                      <td>Telefone Comercial</td>
                  </tr>
              </thead>
              <tbody>
                  @foreach (Contato item in Model)
                  {
                      <tr>
                          <td>@item.Nome</td>
                          <td>@item.Apelido</td>
                          <td>@item.Tel_res</td>
                          <td>@item.Tel_cel</td>
                          <td>@item.Tel_coml</td>
                      </tr>
                  }
              </tbody>
          </table>
      </div>
